{% load i18n %}
<div class="body">
  <div class="preview">
    <a href="{{ instance.get_absolute_url }}"><img src="{{ instance.thumbnail_url }}" alt="{% trans "Preview" %}"></a>
  </div>
  <div class="text">{{ instance.description|urlize|linebreaks }}</div>
</div>
<div class="footer">
   <div class="status"><a href="{{ instance.user.get_absolute_url }}" title="{% trans "Visit profile" %}">{{ instance.user }}</a></div>
   <div class="status">{{ instance.license }}</div>
   <div class="status">{{ instance.category }}</div>
   <div class="index"><a href="{{ instance.get_absolute_url }}">{% trans "Full View" %}</a></div>
</div>
