{% load i18n static inkscape %}

{% load sekizai_tags %}
{% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="{% static "css/resource_info.css" %}"/>
{% endaddtoblock %}

<!-- picture   -->
    <div class="resourcepic">
      <div class="aligner">
        {% if object.is_video %}
            {% if object.video.type == "youtube" %}
              <iframe src="https://www.youtube.com/embed/{{ object.video.id }}" frameborder="0" allowfullscreen id="videoPlayer"></iframe>
            {% elif object.video.type == "vimeo" %}
              <iframe id="videoPlayer" src="https://player.vimeo.com/video/{{ object.video.id }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endif %}
        {% elif object.download %}
          {% if object.mime.is_image %}
              <a href="{{ object.get_absolute_url }}"><img src="{{ object.download.url }}" alt="{% trans "Image" %}"></a>
          {% elif object.mime.is_text %}
            <a href="{{ object.get_absolute_url }}"><img src="{% static "mime/text.svg" %}" title="{{ object.media_type }}"/></a>
          {% else %}
              <a href="{% url "view_resource" object.id %}"><img src="{{ object.thumbnail_url }}" alt="{% trans "File Icon" %}"></a>
          {% endif %}
        {% elif object.link %}
          <a href="{{ object.link }}" title="{% trans "External Link" %}: {{ object }}">
            <img src="{{ object.thumbnail_url }}" alt="{% trans "Item Image" %}"/>
          </a>
        {% else %}
          <img src="{{ object.icon_url }}" alt="{% trans "No file or broken upload" %}"/>
        {% endif %}
        <a class="button" href="{{ object.get_absolute_url }}">{% trans "View" %}</a>
      </div>
    </div>
      
<!--description / link -->
    <div class="resourcedesc">
      {{ object.desc|truncatewords:60|urlize|linebreaks }}
      {% if object.link and not object.is_video %}
        <p>{% trans "Link" %}: <a href="{{ object.link }}">{{ object.link }}</a></p>
      {% endif %}
    </div>

<!-- information -->
    <div class="resourceinfo">
      {% if not object.download %}
        <a class="link" href="{{ object.link }}"><img src="{% static "images/link_to.svg" %}" alt={% trans "Link" %} title={% trans "Follow Link (external site)" %}/></a>
      {% endif %}
      <dl>
        <dt>{% trans "Category" %}</dt>
        <dd>
          {% if object.category %}
            {{ object.category }}
          {% else %}
            {% trans "Unpublished"%}
          {% endif %}
        </dd>
        {% if object.download %}    
          {% if object.media_x and object.media_y %}
            {% if object.mime.is_image %}
              <dt>{% trans "Area" %}</dt><dd> {{ object.media_x }}x{{ object.media_y }}</dd>
            {% elif object.mime.is_text %}
              <dt>{% trans "Lines" %}</dt><dd> {{ object.media_x }}</dd>
              <dt>{% trans "Words" %}</dt><dd> {{ object.media_y }}</dd>
            {% endif %}
          {% endif %}
          {% if object.is_available %}
            <dt>{% trans "Size" %}</dt><dd>{{ object.download.size|filesizeformat }}</dd>
          {% endif %}
        {% else %}
          <dt>{% trans "Linked From" %}</dt><dd>{{ object.link_from }}</dd>
        {% endif %}
        <dt>{% trans "Created" %}</dt><dd>{{ object.created|timetag }}</dd>
        <dt>{% trans "Type" %}</dt><dd>{{ object.media_type }}</dd>
        {% if object.license %}
          <dt>{% trans "Licence" %}</dt><dd>{{ object.license.code }}</dd>
        {% endif %}
        <dt>{% trans "Favorited" %}</dt><dd>{{ object.votes.count }}</dd>
        <dt>{% trans "Downloaded" %}</dt><dd> {{ object.downed }}</dd>
        <dt>{% trans "Viewed" %}</dt><dd> {{ object.viewed }}</dd>      
        <!--dt>{% trans "Comments" %}</dt><dd> { get_comment_count for object as comment_count %}{{comment_count}}</dd-->
      </dl>
    </div>
